/*styles for startPage*/

/*.start-button {
  height: 50px ;
  width: 100px;
  font-size: 25px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  cursor:pointer;
  }
  
 /* .start-button:hover {
    background-color: #929eaa;
  }*/